*{

margin:0;
padding:0;

box-sizing:border-box;

}

body{

overflow:hidden;

background:rgb(70, 185, 226);

font-family:Arial;

}

#juego{

width:100vw;

height:100vh;

position:relative;

overflow:hidden;

}

/* jugador */

#jugador{

position:absolute;

left:120px;

top:200px;

font-size:40px;

width:60px;

height:60px;

display:flex;

justify-content:center;

align-items:center;

z-index:10;

}

/* tubos */

.tubo{

position:absolute;

width:80px;

background:green;

right:-100px;

}

/* superior */

#tuboSuperior1{

height:200px;

top:0;

}

#tuboSuperior2{

height:300px;

top:0;

}

/* inferior */

#tuboInferior1{

height:250px;

bottom:0;

}

#tuboInferior2{

height:350px;

bottom:0;

}

/* puntaje */

#puntaje{

position:absolute;

top:20px;

left:20px;

background:white;

padding:10px;

border-radius:10px;

font-weight:bold;

z-index:20;

}

@media screen and (max-width: 768px) {
   
body{

overflow:hidden;

background:rgb(46, 164, 207);

font-family:Arial;

}

#jugador{

position:absolute;

left:120px;

top:200px;

font-size:55px;

width:60px;

height:60px;

display:flex;

justify-content:center;

align-items:center;

z-index:10;

}
    
}
